<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}" >

  <label for="Name">Enter Name: </label>
  <input type="text" th:field="*{name}" id="Name"/>
  <br/>

  <label for="Surname">Enter Surname: </label>
  <input type="text" th:field="*{surname}" id="Surname"/>
  <br/>

  <input type="submit" value="Update" />

</form>

</body>
</html>